BODY {
	background-color: #fef3e8;
}

H1 {
	text-align: center;
	font-size: 28px;
	line-height: 32px;
	font-family: FinancierDisplayWeb, serif;
	color: #33302e;
}

.intro {
	text-align: center;
	width: 100%;
	max-width:800px;
    margin: auto;
    font-family: MetricWeb, sans-serif;
    font-size: 18px;
    color: #66605c;
    font-weight: 300;
}

.byline {
	font-size: 16px;
	text-align: center;
	font-family: MetricWeb, sans-serif;
	color: #33302e;
	margin-bottom: 10px;
	line-height: 20px;
}

.date {
	font-size: 14px;
	text-align: center;
	line-height: 20px;
	font-family: MetricWeb, sans-serif;
	color: #66605c;
	margin-bottom: 16px;
}

P { text-align: left;
	max-width:700px;
    margin: auto;
    font-family: Georgia, serif;
    font-size: 18px;
    line-height: 2em; }

HR {
	
	max-width: 700px;
	width: 100%;
	margin-left: 120px;
	margin-top: 20px;
}

/*.caption {
	font-family: MetricWeb, sans-serif;
	font-size: 14px;
	line-height: 16px;
	margin-top: 4px;
	color: #4d4845;
	text-align: center;
	max-width: 700px;
	width: 100%;
	margin-left: 120px;
	margin-top: 20px;
}*/





